
/* .areachart-container {
  margin-top: 50px;
  width: 100%;
  align-self: center;
  margin-left: 140px;
} */





/* .radial-charttt box shadow mt-4 {
  color: red;
} */

/* .radial-charttt box shadow {
  color: rgb(143, 26, 252);
  color: rgb(6, 24, 180);
} */