
.about-header {
  margin: 40px 70px;
  display: flex;
  justify-content: center;
}

.about-rewrams {
  margin-bottom: 100px;
}

.about-rewrams p {
  margin-top: 40px;
  margin-right: 130px;
}

.whyuse-header {
  margin-top: 70px;
  color: red;
}

.whatis-header {
  color: red;
  margin-top: 40px;
}

.about-container {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
}

.about-container  {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
}

.about-left {
  /* background-color: blue; */
  margin-top: 45px;
  width: 35%;
}
.about-right {

  /* background-color: red; */
  width: 65%;
  height: 500px;
}